<p-toast></p-toast>

<div class="card">
  <p-toolbar styleClass="mb-4">
    <ng-template pTemplate="left">
      <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
      <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedUsers()"
        [disabled]="!selectedUsers || !selectedUsers.length"></button>
    </ng-template>

    <ng-template pTemplate="right">
      <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import"
        class="mr-2 inline-block"></p-fileUpload>
      <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"></button>
    </ng-template>
  </p-toolbar>

  <p-table [value]="users" [lazy]="true" (onLazyLoad)="loadUsers($event)" responsiveLayout="scroll" dataKey="id"
    [selection]="selectedUsers" [paginator]="true" [rows]="10" [totalRecords]="totalRecords" [loading]="loading"
    [globalFilterFields]="['id','codigo', 'nombre', 'username']">

    <ng-template pTemplate="header">
      <tr>
        <th style="width: 3rem"></th>
        <th pSortableColumn="id">Id <p-sortIcon field="id"></p-sortIcon>
        </th>
        <th pSortableColumn="codigo">Código <p-sortIcon field="codigo"></p-sortIcon>
        </th>
        <th pSortableColumn="nombre">Nombre <p-sortIcon field="nombre"></p-sortIcon>
        </th>
        <th pSortableColumn="username">Username <p-sortIcon field="username"></p-sortIcon>
        </th>
        <th>Roles</th>
        <th></th>
      </tr>
      <tr>
        <th style="width: 3rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th>
          <p-columnFilter type="text" field="id"></p-columnFilter>
        </th>
        <th>
          <p-columnFilter type="text" field="codigo"></p-columnFilter>
        </th>
        <th>
          <p-columnFilter type="text" field="nombre"></p-columnFilter>
        </th>
        <th>
          <p-columnFilter type="text" field="username"></p-columnFilter>
        </th>
        <th></th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-userItem>
      <tr>
        <td>
          <p-tableCheckbox [value]="userItem"></p-tableCheckbox>
        </td>
        <td>{{userItem.id}}</td>
        <td>{{userItem.codigo}}</td>
        <td>{{userItem.nombre}}</td>
        <td>{{userItem.username}}</td>
        <td>{{userItem.roles}}</td>
        <td>
          <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"
            (click)="editUser(userItem)"></button>
          <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
            (click)="deleteUser(userItem)"></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="flex align-items-center justify-content-between">
        In total there are {{users ? users.length : 0 }} users.
      </div>
    </ng-template>
  </p-table>
</div>

<p-dialog [(visible)]="userDialog" [style]="{width: '450px'}" header="User Details" [modal]="true" styleClass="p-fluid">
  <ng-template pTemplate="content">
    <div class="field">
      <label for="nombre">Codigo</label>
      <p-inputNumber id="codigo" [(ngModel)]="user.codigo" ></p-inputNumber>
      <small class="p-error" *ngIf="submitted && !user.nombre">Name is required.</small>
    </div>
    <div class="field">
      <label for="nombre">Nombre</label>
      <input type="text" pInputText id="nombre" [(ngModel)]="user.nombre" required autofocus />
      <small class="p-error" *ngIf="submitted && !user.nombre">Name is required.</small>
    </div>
    <div class="field">
      <label for="username">Username</label>
      <input type="text" pInputText id="username" [(ngModel)]="user.username" required />
      <small class="p-error" *ngIf="submitted && !user.username">Userame is required.</small>
    </div>
    <div class="field">
      <label for="unencrypedPassword">Password</label>
      <input type="text" pInputText id="unencrypedPassword" [(ngModel)]="user.unencryptedPassword" />
    </div>
    <div>
      <p-pickList [source]="dispRoles" [target]="user.roles" [dragdrop]="true">
        <ng-template let-userrol pTemplate="item">
            <div>
                <div style="font-size:14px;float:right;margin:15px 5px 0 0">{{userrol}}</div>
            </div>
        </ng-template>
    </p-pickList>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
    <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveUser()"></button>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
