<h2 class="titulo">frontend Menu</h2>
<div>
  <button mat-button class="opcion" color="primary" (click)="openUsuarios()"><mat-icon>group</mat-icon>Usuarios</button>
  <button mat-button class="opcion" color="primary" (click)="openPedidos()"><mat-icon>article</mat-icon>Pedidos</button>
  <button mat-button class="opcion" color="primary" (click)="openCartas()"><mat-icon>article</mat-icon>Cartas</button>
  <button mat-button class="opcion" color="primary" (click)="logout()"><mat-icon>article</mat-icon>Logout</button>
</div>
